# Ignore data folders to protect any instance of data uploading  
datadump/
processed_subject_data/
processed_plots_and_descriptives/


# Ignore System Files
.DS_Store
Thumbs.db
.vscode

# Ignore python cache files 
__pycache__/
*.py[cod]

# Ignore build artifacts
build/
dist/
*.spec
